.container-slider{
    margin-right: 15%!important;
    margin-left: 15% !important;
}
.container{
    margin-right: 20%;
    margin-left: 20%;
}
.logoIe{
    width: 100px !important;
    margin-right: 100px;
    float: left;
}
.menuIe{
    float: right;
    width: 700px !important;
}
.nav > li{
    display: inline-block;
}
.left-block{
    width: 60%;
    display: inline-block;
}
.right-block{
    width: 40%;
    display: inline-block;
}
.about__block{
    width: 330px;
    display: inline;
}
.news__slider{
    width: 40%;
    display: inline-block;
}
.news__all{
    width: 58%;
    display: inline-block;
}
.bottom__news-block{
    width: 33%;
    display: inline-block;
}