html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline:0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
@font-face {
    font-family: helvetica; /* ָל רנטפעא */
    src: url(../fonts/helvetica.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
body {
    line-height: 1;
    font-family: helvetica;
    background: #c0c0c0;
}
a{
    text-decoration: underline;
}
ol, ul, menu {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,textarea{
    outline:none;
}

textarea{
    resize:vertical;
}

p{
      color:#2c2c2c;
      font-size: 14px;
}
.clear{
    clear: both;
}
.container{
    margin: 0 auto;
    background: url(../images/bg.png) no-repeat;
    width:1215px;
    height: 1028px;
    position: relative;
}


nav{
    background: #07508f;
}
nav ul.main{
    border-right:1px solid #56a2dc;
    max-width: 450px;
    float: right;
}
nav ul.add-menu{
    float: right;
    min-width: 200px;
    margin-right: 20px;
}
.flag{
    background: url(../images/flag.png) no-repeat 8%;
}
nav ul.main li,
nav ul.add-menu li {
    display: table-cell;
    width: auto;
    height: 30px;
    text-align: center;
}
i{
    text-decoration: underline;
}
nav ul.main li a{
    width: 450px;
}
nav ul.add-menu li a{
    width: 180px;
}
nav ul.add-menu li a.bg-last{
    background: #50afdc; /* Old browsers */
    background: -moz-linear-gradient(top, #50afdc 0%, #2e7ac4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #50afdc 0%,#2e7ac4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #50afdc 0%,#2e7ac4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50afdc', endColorstr='#2e7ac4',GradientType=0 );
}

nav ul.main li a,
nav ul.add-menu li a{
    font-size: 14px;
    text-decoration: none;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}
nav ul.main li a{
    color: #60b5ed;
}
nav ul.add-menu li a{
    color: #ffffff;
}
nav ul.main li a:hover{
    color: #ffffff;
    background: #4eabda;
}
b{
    font-weight: bold;
}
.form-block{
    background: rgba(0, 0, 0, 0.63);
    width: 560px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-306px 0 0 -280px;
}
.form-block h3{
    display: block;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    border-bottom: 2px solid #c2c5bc;
}
.form-wrapp{
    padding: 40px 142px 0;

}
.form-wrapp form{
    color: #ffffff;
    font-size: 14px;
}
.form-block{
    text-align: center;
}
.form-block p{
    color: #cccccc;
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 16px;
}
.form-wrapp form button{
    color: #ffffff;
    position: relative;
    border:none;
    padding: 8px 0;
    cursor: pointer;
    background: url(../images/fb.png) repeat-x;
}

.form-wrapp form div.fb-img{
    width: 40px;
    border-right: 1px solid #4c68a9;
    position: absolute;
    top: 126px;
    left: 143px;
    margin: 0;
}
.form-wrapp form div.fb-arrow{
    position: absolute;
    top: 111px;
    right: 190px;
}
.form-wrapp form div{
    text-align: center;
    margin-top: 20px;
}
.form-wrapp form input[type="submit"]{
    padding: 10px;
    color: #ffffff;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    background: url(../images/subbg.png) repeat-x;
}
.form-wrapp form div.input-fields{
    text-align: left;
    margin: 20px 0;
}
.input-fields label{
    color: #ccc;
}

#line-block{
    margin: 30px 0;
}
#line-block hr{
    height: 2px;
    float: left;
    width: 113px;
    border:none;
    background: url(../images/line.png) repeat-x;
}
.ou{
    color: #999999;
    display: block;
    width: 50px;
    float: left;
    font-size: 14px;
}

.form-wrapp form input[type="text"],
.form-wrapp form input[type="password"],
.form-wrapp form input[type="email"],
.form-wrapp form button {
    display: block;
    width: 100%;
    font-family: helvetica;
    margin: 20px 0;
}
.form-wrapp form input[type="text"],
.form-wrapp form input[type="password"],
.form-wrapp form input[type="email"] {
    background: #000;
    border: none;
    width: 95%;
    border-bottom: 1px solid #484948;
    color: #ffffff;
    padding: 8px 0;
    padding-left: 13px;
}

.form-wrapp form input[type="text"]:hover,
.form-wrapp form input[type="text"]:active,
.form-wrapp form input[type="password"]:hover,
.form-wrapp form input[type="password"]:active,
.form-wrapp form input[type="email"]:hover,
.form-wrapp form input[type="email"]:active{
    border-bottom: 1px solid #689bcc;
    background: #1b5288;
    -webkit-box-shadow: 0px 0px 14px 3px rgba(104,155,204,1);
    -moz-box-shadow: 0px 0px 14px 3px rgba(104,155,204,1);
    box-shadow: 0px 0px 14px 3px rgba(104,155,204,1);
}
.form-wrapp form input[type="checkbox"]{
    margin-top: -1px;
    margin-right: 5px;
}