html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline:0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

@font-face {
    font-family: Tahoma; /* ָלÿ רנטפעא */
    src: url(../fonts/Tahoma-Regular.ttf); /* ֿףעü ך פאיכף סמ רנטפעמל */
}
body {
    font-family: Tahoma;
    background: url(../images/bg.png) 50% 0% repeat;
}
a{
    text-decoration: underline;
}
ol, ul, menu {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,textarea{
    outline:none;
}

textarea{
    resize:vertical;
}

.clear{
    clear: both;
}
.container{
    margin: 0 auto;
    width: 960px;
}
.wrapp{
    padding: 110px 70px 30px;
}

/*logo*/
.logo-block{
    float: left;
    width: 275px;
}
.logo{
    position: relative;
    text-decoration: none;
}
.palm{
    position: absolute;
    bottom:-35px;
    left: 140px;
}
.logo span{
    position: absolute;
    top: 23px;
    left: 82px;
    font-size: 10px;
    text-decoration: none;
    color: #e6e6e6;
}

/*contact-us*/
.contact-us{
    float: right;
    color: #e6e6e6;
    font-size: 9px;
    line-height: 14px;
}
b{
    font-weight: bold;
}

/*aside*/
aside{
    margin-top: 30px;
}
.item{
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
    width: 260px;
    text-align: center;

}
.item p{
    color: #e6e6e6;
    font-size: 15px;
}
.item:nth-child(3n+3){
    margin-right: 0;
}
.frame{
    width: 100%;
    border: 2px solid #aaaaaa;
    border-radius: 2px;
    display: table;
    vertical-align: middle;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.frame img{
    display:table-row;
}
footer{
    margin-top: 60px;
    text-align: center;
}
footer p{
    font-size: 10px;
    color: #e6e6e6;
}