.wrapp{
    max-width: 768px;
}
.header__logo{
    width: 100%;
    margin-bottom: 27px;
}
header{
    height: 797px;
}
header nav{
    width: 100%;
    float: none;
}
.menu__link{
    padding: 0 40px 0 0
}
.slider__left {
    width: 49%;
    overflow: hidden;
}
.header__top {
    padding: 67px 0 76px 0;
}
.slider__left_wrapp {
    padding: 99px 0 4px 22px;
}
.slider__left h1{
    font-size: 48px;
    margin-bottom: 8px;
}
.slider__left h3{
    font-size: 24px;
}
.slider__left p {
    font-size: 16px;
    line-height: 26px;
    height: 100px;
    overflow: hidden;
}
.iphone {
    top: -22px;
}
.shadow-iphone{
    top: 57px;
}
.play{
    top: 126px;
}
.article-wrapp {
    width: 74%;
}
.about__block{
    margin: 76px 8px 70px 16px;
}
.about__block h1{
    font-size: 24px;
}
.about__block p{
    font-size: 16px;
    height: 140px;
    overflow: hidden;
}
.readmore{
    margin-top: 9px;
    margin-right: 0;
}

.news__slider{
    width: 43%;
    margin-left: 3%;
}
.news__title{
    font-size: 24px;
}
.news__title span{
    display: block;
}
.news__text{
    height: 148px;
    overflow: hidden;
}

.news__all{
    width: 51%;
}
.news__all .news-wrapp p.news__title{
    font-size: 30px;
}

.news__block {
    padding: 100px 0 57px 0;
}
.news__all__block{
    margin-top: 17px;
}
.news__all__img{
    width: 16%;
}
.news__all__cont {
    margin-left: 3%;
    width: 81%;
    overflow: hidden;
}
.partners-block{
    text-align: left;
    margin: 0;
}
.partners__logo{
    padding:30px 58px 30px 0;
}
.item__head{
    font-size: 24px;
}
.bottom__block {
    padding: 103px 0 97px;
}
.bottom__block__item {
    width: 27%;
    margin-right: 9%;
}
.last{
    margin: 0;
}
.item__copy{
    display: none;
}
.item__text{
    overflow: hidden;
    height: 165px;
}
footer{
    height: 200px;
}
.bottom-nav {
    width: 100%;
}
.menu__link-bottom{
    padding: 0 27px 0 0;
}
.develop{
    margin-top: 34px;
}
.circle-news{
    left: 95px;
}