html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline:0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
@font-face {
    font-family: Tahoma; /* Èìÿ øðèôòà */
    src: url(../fonts/Tahoma-Regular.ttf); /* Ïóòü ê ôàéëó ñî øðèôòîì */
}
body {
    line-height: 1;
    background: #f9f9f9;
    background: url(../images/bg.png) 50% 0% repeat;
}
a{
    text-decoration: underline;
}
ol, ul, menu {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,textarea{
    outline:none;
}

textarea{
    resize:vertical;
}

p{
      color:#2c2c2c;
      font-size: 14px;
}
.clear{
    clear: both;
}
.container{
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.75);
    width: 1000px;
    border-bottom: 5px solid #000;
}
/*header*/
.header-wrapp{
    padding: 15px 30px 0 30px;
}
.header-logo{
    float: left;
    width: 514px;
}
.header-logo a{
    text-decoration: none;
}
.header-contacts,
.photo-block{
    float: left;
    width: 425px;
}
.photo-block{
    margin-top: 20px;
}
.header-contacts p{
    color: #128aa7;
    font-size: 12px;
    margin: 4px 0;
}
.header-contacts p b{
    font-size: 14px;
    font-weight: bold;
}
.contacts{
    float: right;
}
.photo{
    margin-top: -6px;
}

.photo-links{
    width: 65px;
    display: inline-block;
    text-align: center;
}

.photo-links a span {
    color: #128aa7;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}


/*menu*/
.top-menu{
    max-width: 1000px;
    margin-top: -2px;
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid #000000;
}

.top-menu  li{
    display: table-cell;
    width: auto;
    height: 30px;
    text-align: center;
    position: relative;
}
.top-menu li a{
    color: #ffffff;
    background: #333;
    font-size: 14px;
    text-decoration: none;
    height: 30px;
    display: table-cell;
    width: 1000px;
    vertical-align: middle;
}
.triangle:after{
    content: url(../images/triangle.png);
    margin-left: 5px;
}
.top-menu ul ul{
    position: absolute;
    top: 30px;
    left:20px;
    display: none;
    z-index: 0;
}
.top-menu ul li ul li{
    float: none;
    display: block;
 }
.top-menu ul li ul li a{
    white-space: nowrap;
    display: block;
    height: auto;
    padding: 10px 30px 10px 15px;
    width: auto;
}
.top-menu ul li:hover ul{
    left: 20px;
    display: block;
}

.content1,
.content2,
.content3,
.content4{
    width: 1000px;
    height: 600px;
}

/*content*/
.content4{
    position: absolute;
    background: #ffffff;
    top: 75%;
    left: 21%;
    z-index: 5;
}
.content3{
    position: absolute;
    background: green;
    top: 73%;
    left: 22%;
    z-index: 5;
}
.content2{
    position: absolute;
    background: red;

    top: 71%;
    left: 23%;
    z-index: 4;
}
.content1{
    position: relative;
    background: yellow;
    z-index: 3;
}
.content{

}
.lateral-block,
.center-block{
    float: left;
    height: 500px;
    overflow: hidden;
}
.lateral-block{
    width: 250px;
    background: #edeef0;
    height: 500px;
    text-align: center;
}
.center-block{
    width: 496px;
    border-right: 1px solid #c7cacf;
    border-left: 1px solid #c7cacf;
}
.block-wrapp{
    padding: 10px;
}
.title{
    color: #424c43;
    font-size: 18px;
}
.block-text{
    margin-top: 20px;
}
.block-text p{
    font-size: 14px;
    color: #424c43;
    margin: 10px 0;
}

/*footer*/
footer{
    text-align: center;
    height: 40px;
}
footer p{
    color: #ffffff;
    font-size: 12px;
    margin: 10px 0;
}
